.descriptionSection {
	position: relative;
}

.answerSection {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #242424;
}

@media (prefers-color-scheme: light) {
	.answerSection {
		background-color: white;
	}
}

.player {
	/* visibility: hidden; */
	display: inline-block;
	position: relative;
	max-width: 100vmin;
	width: 320px;
	height: 180px;
	overflow: hidden;
}

.playerOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: dimgrey;

	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(0%);
	transition: transform 0.8s;

	color: white;
}

.playerOverlay.hidden {
	transform: translateY(-100%);
}

.replayButton {
	font-size: 20px;
}


.replayButton.disabled {
	opacity: 0.5;
	cursor: inherit;
	pointer-events: none;
}

.options {
	display: flex;
	margin: 0 auto;
	padding: 0.5rem 0;
	max-width: 100vmin;
	width: 20rem;
}

.option {
	flex: 0 0 50%;
}

.optionName {
	font-size: 1.5em;
}

.description {
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.5em;
	line-height: 1.2em;
	opacity: 0.5;
}

.note {
	font-family: sans-serif;
	font-size: 0.5em;
	line-height: 1.2em;
	opacity: 0.5;
	margin: 0;
}

.answerDescription {
	margin-top: 0;
	margin-bottom: 0.2rem;
}

.songInfo {
	display: inline-block;
	font-size: 0.6rem;
	line-height: 0.8rem;
	font-family: sans-serif;
}

.songInfo th {
	font-weight: bold;
	padding-right: 1.2rem;
	text-align: right;
}

.songInfo td {
	text-align: left;
}

.youtubeLink {
	display: inline-block;
	border-radius: 8px;
	color: white;
	padding: 0.6em 1.2em;
	font-size: 0.5rem;
	line-height: 1.2em;
	font-weight: 500;
	font-family: inherit;
	background-color: red;
	cursor: pointer;
}

.youtubeLink:hover {
	color: white;
}

.nextQuestion {
	margin-top: 0.5rem;
}